
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

*
{
    box-sizing: border-box;
}



.estremi
{
    display: flex;  
    flex-direction: row; 
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.Logo
{
    width: 100px;
}

.secondary_text
{
    font-size:18px;
}

.primary_text
{
    font-size:36px;
}
.intro
{
    text-align: center;
    color:aliceblue;
    background-color: #1f2937; /*#8C2A14*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 2;
    gap: 2rem;
    height: 250px;
}

.info
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1 2 1;
}

.login
{
    border-style:unset;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex: 1 2 1;
    height: 250px;
}

.log
{
    border-radius: 5px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 90px;
    gap: 10px;
    background-color: #3882f6;
}

.buttom
{
    height: 30px;
    color:#fff;
    border:2px solid #fff;
    border-radius: 5px;
    background-color: #3882f6;
}

.prova{
    font-size: 24px;
    font:bolder;
    gap: 2px;
    justify-content: center;
    flex:1;
    display: flex;
    color: #f9faf8;
}

a:link
{
    font-size: 18px;;
    text-decoration: underline;
    color: #E2E7EB;
}

.item{
    font-size: medium;
    flex:1;
    color:white;
    flex-direction: row;
    justify-content: center;
}

.content
{
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-direction: row;
}

.quota{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    display: block;
    align-items: center;
    background-color: #E2E7EB; /*BF4904*/
}

.imaggine
{
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882f6;
    width: 85px;
}