
body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}




.estremi
{
    display: flex;  
    flex-direction: row; 
    background-color: #1f2937;
    font-size: 10px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
 
.Logo
{
    width: 40px;
}


.intro
{
    color:aliceblue;
    background-color: #1f2937; /*#8C2A14*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 2;
    gap: 2rem;
    height: 250px;
}

.info
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1 2 1;
    height: 250px;
     /*#BF8450*/
}

.login
{
    border-style:unset;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex: 1 2 1;
    height: 250px;
}

.log
{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 90px;
    gap: 10px;
    background-color: #3882f6;
}

.buttom
{
    height: 30px;
    color:#fff;
    border-style: ridge;
    border-color: #fff;
    background-color: #3882f6;
}

.prova{
    gap: 2px;
    justify-content: center;
    flex:1;
    display: flex;
    color:white;
    font-size: auto;
}

a:link
{
    text-decoration: underline;
    color: #E2E7EB;
}

.item{
    font-size: medium;
    flex:1;
    color:white;
    flex-direction: row;
    justify-content: center;
}

.content
{
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-direction: row;
}

.quota{
    color: #1f2937;
    font-size: 36px;
    font-family: italic;
    text-align: center;
    flex:1;
    align-items: center;
    background-color: #E2E7EB; /*BF4904*/
}

.imaggine
{
    background-color: white;
    border-style: ridge;
    border-color: #3882f6;
    width: 85px;
}